
esp32go.dproj.local
Win32/Debug/CPort.dcu
*.dcu
*.~1~
*.~*~
Esp32Go Setup.iss
Win32/Debug/esp32go.exe
Win32/Debug/Output/Esp32Go_Installer.exe
Win32/Debug/esp32go.ini
Win32/Debug/Output/Esp32Go_Installer.exe
Win32/Debug/esp32go.ini
Win32/Debug/Output/Esp32Go_Installer.exe
